
# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
.env/
env/
.venv/
.env/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store   # macOS
Thumbs.db   # Windows

# Ignore log files
*.log
